body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    background: rgb(0, 255, 179);
}

ul{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

li{
    list-style: none;
 
}

a{
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.block{
    height: 350px;
}

.block:nth-child(even){
    background: rgb(0, 204, 255);
}
.block:nth-child(odd){
    background:rgb(13, 13, 32);
}

#scrolltop{
    position: fixed;
    bottom: 60px;
    right: 100px;
    height: 100px;
    width: 100px;
    background:rgb(13, 13, 32);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: 0.5s;
}

/* slider */

.slidesshow-container{
    max-width: 300px;
    position: absolute;
}
.text{
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.prev, .next{
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 40px;
}
.prev:hover, .next:hover{
    cursor: pointer;
    color: blue;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.slides{
    display: none;
}
.active{
    display: block;
}