body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    background: rgb(99, 7, 99);
}

ul{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

li{
    list-style: none;
 
}

a{
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.block{
    height: 150px;
}

.block:nth-child(odd){
    background: rgb(94, 255, 0);
}
.block:nth-child(even){
    background:rgb(13, 13, 32);
}