body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    background: rgba(0, 0, 0, 0.836);
}

ul{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

li{
    list-style: none;
 
}

a{
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.block{
    height: 250px;
}

.block:nth-child(even){
    background: rgb(0, 204, 255);
}
.block:nth-child(odd){
    background:rgb(13, 13, 32);
}

#scrolltop{
    position: fixed;
    bottom: 100px;
    right: 100px;
    height: 100px;
    width: 100px;
    background:rgb(13, 13, 32);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: 0.5s;
}